<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>New Todo App</title>
</head>
<body>
<div id="app">
    <h1>New Todo App</h1>
    <div v-show="inProgress.length" class="list_container">
        <h2>Assignments in Progress </h2>
        <ul class="todo_list">
            <div v-for="assignment in inProgress" :key="assignment.id">
                <li class="taskItem">
                    <div>
                        <input @click="ring()" type="checkbox" name="title" id="title" class="title_check" v-model="assignment.complete">
                        <span class="todo_title"> {{ assignment.title }}</span>
                    </div>
                    <button class="btn-danger" ><i class="fa-solid fa-trash fa-2x"></i></button>
                </li>
            </div>
        </ul>
    </div>
    <div v-show="completed.length" class="list_container">
        <h2>Completed</h2>
        <ul class="todo_list">
            <div v-for="assignment in completed" :key="assignment.id">
                <li class="taskItem">
                    <div>
                        <input type="checkbox" name="title" id="title" class="title_check" v-model="assignment.complete">
                        <span class="todo_title"> {{ assignment.title }}</span>
                    </div>
                    <button class="btn-danger" ><i class="fa-solid fa-trash fa-2x"></i></button>
                </li>
            </div>
        </ul>
    </div>
</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    let app= {
        data(){
            return{
                assignments: [
                    {id:1, title: 'task exemple 1', complete: false},
                    {id:2, title: 'task exemple 2', complete: false},
                    {id:3, title: 'task exemple 3', complete: false},
                ]
            }
        },
        computed: {
            inProgress(){
                return this.assignments.filter(assignment => ! assignment.complete)
            },
            completed(){
                return this.assignments.filter(assignment => assignment.complete)
            }
        },
        methods:{
            ring(){
                console.log('click');
                let audio = new Audio("correct-2-46134.mp3");
                audio.play();
            },
        }
    };

    Vue.createApp(app).mount('#app');
</script>


</body>
</html>