<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>New Todo App</title>
</head>
<body>
<h1>New Todo App</h1>
<div class="list_container">
    <h2>Assignments in Progress </h2>
    <ul class="todo_list">
        <div v-for="assignment in assignments">
            <task
                    :task="assignment"
            ></task>

        </div>
        <div  v-for="task in tasks">
            <task
                    :task="task"
                    class="taskItem"
            />
        </div>
    </ul>
</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>

</script>
</body>
</html>