.board_container{
	width:80%;
	text-align: center;
	margin: 20px auto auto;
	
}
h1{
	font-size: 48px;
	border-bottom: 2px solid #1a202c;
	text-align: center;
	
}

.completed{
	text-decoration: line-through;
	color : #999999;
}
.task{
	word-break: break-all;
}
.taskItem{
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.todo_title{
	margin-left: 10px;
	font-size: 20px;
}
li{
	border: 1px solid blueviolet;
}
.title_check{
	margin: 20px;
}
.btn-danger{
	color: red;
	margin: 10px;
}
.btn-danger:hover{
	cursor: pointer;
}
.list_container{
	background-color: aqua;
}
h2{
	font-size: 32px;
	font-weight: bold;
}
.todo_list{
	padding: 10px;
	
}
.inputTask{
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #1970cf;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn_add_task{
	border: 1px solid blue;
	padding: 8px;
	margin-left: 10px;
}
#newTask{
	padding: 8px;
	border: 2px solid black;
	
}
#title{
	height: 25px;
	width: 25px;
	
}
#title:hover{
	cursor: pointer;
}
.plus{
	font-size: 20px;
}
.active {
	color: green;
}
.inactive{
	color: #999999;
}
